<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="gradesSection">
    <table>
        <thead>
        <tr>
            <th>Module</th>
            <th>Code</th>
            <th>Grade</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Software Development</td>
            <td>SD501</td>
            <td>78%</td>
            <td style="color:#006D77; font-weight:500;">Pass</td>
        </tr>
        <tr>
            <td>Database Management</td>
            <td>DB502</td>
            <td>65%</td>
            <td style="color:#006D77; font-weight:500;">Pass</td>
        </tr>
        <tr>
            <td>Web Applications</td>
            <td>WA503</td>
            <td>91%</td>
            <td style="color:#006D77; font-weight:500;">Pass</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>